{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ignorePatterns": ["src/index.js"],
  "plugins": ["react"],
  "rules": {
    "quotes": ["error", "single"],
    "no-debugger": "error",
    "no-console": "error",
    "no-unused-vars": "error",
    "react/display-name": "warn",
    "react/prop-types": "error"
  }
}
