.landing-hero-section {
    width: 100%;
    margin: 30px 0 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;

    & > div {
        flex: 1;
    }
}

.landing-hero-section__img {
    width: 100%;
}

.landing-hero-section__auth__headline {
    font-weight: 600;
    font-size: 20px;
}

.landing-hero-section__auth {
    display: flex;
    flex-direction: column;
}
